li#wp-admin-bar-bs_abep_links {
  cursor: default;
}

ul#wp-admin-bar-bs_abep_links-default ul#wp-admin-bar-page-default {
	max-height: 600px;
	overflow-x: hidden;
	overflow-y: scroll;
}

#wp-admin-bar-bs_abep_links .ab-item>.ab-icon:before {
	content: "\f327"; /* Use the pencil dashicon for 3.8 */
	top:3px;
}

li#wp-admin-bar-bs_abep_links .ab-sub-wrapper .ab-sub-wrapper > ul {
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: scroll;
}

@media screen and (max-width: 782px) {
	#wpadminbar li#wp-admin-bar-bs_abep_links {
		display: block;
	}
	
	#wpadminbar li#wp-admin-bar-bs_abep_links .ab-icon:before {
		top: 0;
		line-height: 48px;
		height: 46px!important;
		text-align: center;
		width: 50px;
		display: block;
		font-size: 31px;
	}
}

@media screen and (max-width: 425px) {
	#wpadminbar li#wp-admin-bar-bs_abep_links {
		display: none;
	}
}